.data-set {
  width: 100%;
  border-collapse: collapse;
}

h1{
  text-align: center;
}
.data-set th,
.data-set td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-set th {
  background-color: #6eff6e;
  ;
}

.data-set .select-area {
  width: 30px;
  cursor: pointer;
}

.data-set tr.selected {
  background-color: #c7ffc7;
}
